.propertyTypeHeader {
    padding: 2px 5px;
    position: absolute;
    background-color: rgba(13, 20, 32, 0.85);
    left: 0;
    border-radius:  5px 0 5px 0;
}

.clientCardImage {
    max-height: 120px !important;
    max-width: 250px !important;
    width: auto !important;
    height: auto !important;
  }

  .profilePosition {
    position: absolute;
    top: 92px;
    right: 0;
  }