.logo {
    background-color: #0d1420;
    border-bottom: 1px solid rgba(245, 135, 79, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);

}

.logo img {
    padding: 0px 15px;
    height: 30px;
}
